img {
    width:70px;
    
    border-radius: 100%;
    border:solid;
    border-color: 
}

body {
    text-align: center;
    font-family: Georgia;
    font-size: 1em;
}

.competencies {
    border-style: solid;
    margin-left: auto;
    margin-right:auto;
}
.competencies td {
    padding: 20px;
    border: solid;
    background-color: white;
    
}
#sponsers {
    margin-left: auto;
    margin-right:auto;

}
#sponsers td {
   padding: 50px 
}

header{
    font-style: italic;
    background-image: url(http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1500,w_2000,f_auto,q_auto/v1/39323/Banff_1_uhiusb.png);
    background-size:cover;
    background-repeat: no-repeat;
    padding-bottom: 200px;
    padding-top: 200px;
    color:white;
    border-radius: 15px;
    
}
div {
    margin-top: 75px;
}
h2 {
    font-size: 2em;
    font-family: Garamond;
    font-style: italic;
    
}
.work {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
h3 {
    color:forestgreen
}
    